<div id="homepage">
      <h1>90th Cyberspace Operations Squadron</h1>
      <h2></h2>
      <a matTooltip="Click here to learn more about the 90th" 
            href="https://www.afhra.af.mil/About-Us/Fact-Sheets/Display/Article/862054/90-cyberspace-operations-squadron-afspc/"><img
                  width='390' src="assets/90cos-emblem-fixed.png"></a>
      <h3><b>Mission</b>: Accelerate Global Vigilance, Reach, and Power by rapidly developing joint cyber capabilities
      </h3>
      <h3><b>Vision</b>: A ready Cyber Development Force enabling tomorrow's operations with capabilities delivered
            today</h3>

</div>
<div class="text-align-left float-left d-inline-block" id="info">

      E-mail questions, comments, or concerns to <br />
      <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>
      or <span (click)="contactUs()" id="contactUs"> Contact Us</span>
      <br />
      <a href="/disclaimer" id="externalLinks"><em>External Links Disclaimer</em></a><br />
</div>