#homepage {
    //The homepage selector is the only useful thing here
    //Colors have been disabled for darkmode
    background-image: "assets/90cos-background.png";
    font-family: 'Open Sans';
    padding-bottom: 90px;
    //background-color: #43464B;
}
#info{
    // margin-right: 30px; 
    margin-left: 36px; 
    margin-bottom: 36px; 
    padding-bottom: 36px;
}

#contactUs{
    text-decoration: underline;
    color: inherit; 
}

#externalLinks{
    text-decoration: underline;
}

span {
    color: #43464b;
}

h1 {
    text-align: center;
    // color:#fff;
    img {
        display: inline;
        margin: -20px 0;
    }
}

h2 {
    text-align: center;
    //color:#fff;
    img {
        display: inline;
        margin: -20px 0;
    }
}

h3 {
    text-align: center;
    //color:#f5f5f5c2;
    img {
        display: inline;
        margin: -20px 0;
    }
}

h4 {
    text-align: center;
    img {
        display: inline;
        margin: -20px 0;
    }
}

p {
    text-align: center;
    font-size: 18px;
    //color:#fff;
    img {
        display: inline;
        margin: -20px 0;
    }
}

a {
    //text-align: center;
    //font-size: 18px;
    color: inherit;
}

img {
    display: block;
    margin: 0 auto 20px;
}

.btn.btn-link {
    color: inherit;
}

.contact {
    margin-left: auto;
    display: float;
    float: right;
    // margin-left: auto; 
    margin-right: 0;
    right: 0;
}

span:hover {
    color: #00308f !important;
    background-color: rgb(0, 140, 255);
}