<div id="roadmap_component" *ngIf="!enteredWRRoadmap">
    <div class="d3-box mx-auto">
        <app-roadmap-overview (hoveredWR)="setRoadmap($event)" (enterRoadmap)="loadRoadmap($event)" class=""></app-roadmap-overview>
    </div>
    <div class="wr-info mx-auto">
        <h2>{{currentEntry.name}}</h2>
        <p class="wr-name">{{currentEntry.fullName}} <span *ngIf="! currentEntry.has_ttl">(NO REQUIREMENTS CURRENTLY MAPPED)</span></p>
        <hr class="info-hr" *ngIf="currentEntry.name">
        <p>{{currentEntry.description}}</p>
    </div>
</div>
<div id="roadmap_component" *ngIf="enteredWRRoadmap">
    <div class="wr-roadmap-titlebar">
        <h2 class="title">{{currentEntry.fullName}} Roadmap <fa-icon [icon]="sign"></fa-icon></h2>
        <button class="btn back-button" (click)="enteredWRRoadmap = !enteredWRRoadmap; currentStep=null"><fa-icon [icon]="backArrow"></fa-icon> Return to Overview</button>
    </div>
    
    <div class="d3-roadmap-box mx-auto">
        <app-workrole-roadmap [inputData]="currentEntry" (hoveredStep)="setStep($event)" class=""></app-workrole-roadmap>
    </div>
</div>