<h2 mat-dialog-title> Select Columns </h2>
<mat-form mat-dialog-content id="form">
    <span *ngFor="let item of colData;">
        <mat-checkbox [checked]="item.checked" [(ngModel)]="item.checked"
        color="primary">
        {{item.displayName}}
        </mat-checkbox>
        <ul *ngIf="item.checked && item.subColumns.length">
            <li *ngFor="let subItem of item.subColumns; let i = index;">
                <mat-checkbox [checked]="subItem.checked" [(ngModel)]="subItem.checked"
                color="primary">
                {{subItem.displayName}}
                </mat-checkbox>
            </li>
        </ul>
    <br *ngIf="!(item.subColumns.length && item.checked)">
    </span>
</mat-form>
<mat-dialog-actions style="min-width: max-content;">
    <button mat-button (click)="selectAll()">Select All</button>
    <button mat-button (click)="deselectAll()">Deselect All</button>
    <button mat-button mat-dialog-close (click)="close()">Cancel</button>
    <button mat-button mat-dialog-save (click)="save()">Save</button>
</mat-dialog-actions>