<!-- 
    This HTML file handles the redirects from gitlab pages
    to the deployment on 90cos.com
-->

<head id="redirect"></head>
<script>
    var url = window.location.href;
    var redirect_url = "https://90cos-mttl.90cos.com/mttl"
    console.log(url.split("#"))
    if (url.split("#").length > 1){
      redirect_url += url.split("#")[1]
    }
    document.getElementById("redirect").innerHTML =
"<meta http-equiv='Refresh' content='0; URL=" + redirect_url + "'></meta>"
</script>
