/*                                                                                                 
                                                                                                 
     999999999          000000000             CCCCCCCCCCCCC     OOOOOOOOO        SSSSSSSSSSSSSSS 
     99:::::::::99      00:::::::::00        CCC::::::::::::C   OO:::::::::OO    SS:::::::::::::::S
   99:::::::::::::99  00:::::::::::::00    CC:::::::::::::::C OO:::::::::::::OO S:::::SSSSSS::::::S
  9::::::99999::::::90:::::::000:::::::0  C:::::CCCCCCCC::::CO:::::::OOO:::::::OS:::::S     SSSSSSS
  9:::::9     9:::::90::::::0   0::::::0 C:::::C       CCCCCCO::::::O   O::::::OS:::::S            
  9:::::9     9:::::90:::::0     0:::::0C:::::C              O:::::O     O:::::OS:::::S            
   9:::::99999::::::90:::::0     0:::::0C:::::C              O:::::O     O:::::O S::::SSSS         
    99::::::::::::::90:::::0 000 0:::::0C:::::C              O:::::O     O:::::O  SS::::::SSSSS    
      99999::::::::9 0:::::0 000 0:::::0C:::::C              O:::::O     O:::::O    SSS::::::::SS  
           9::::::9  0:::::0     0:::::0C:::::C              O:::::O     O:::::O       SSSSSS::::S 
          9::::::9   0:::::0     0:::::0C:::::C              O:::::O     O:::::O            S:::::S
         9::::::9    0::::::0   0::::::0 C:::::C       CCCCCCO::::::O   O::::::O            S:::::S
        9::::::9     0:::::::000:::::::0  C:::::CCCCCCCC::::CO:::::::OOO:::::::OSSSSSSS     S:::::S
       9::::::9       00:::::::::::::00    CC:::::::::::::::C OO:::::::::::::OO S::::::SSSSSS:::::S
      9::::::9          00:::::::::00        CCC::::::::::::C   OO:::::::::OO   S:::::::::::::::SS 
     99999999             000000000             CCCCCCCCCCCCC     OOOOOOOOO      SSSSSSSSSSSSSSS   
                                                                                                   
                                                                                                   
                                                                                                   
                                                                                                   
*/                                                                                             

@import "~@angular/material/prebuilt-themes/indigo-pink.css";     
@import "assets/css/carousel.css";

nav{
    font-family: t26-carbon, monospace;
}

#toggle_darkMode{
    position: absolute; 
    top:0;
    right:0;
} 

// Pagination Overrides
.ngx-pagination{
  float: right;
  margin-top: 1rem;
  li{
    margin-right: .75rem !important;

    a{
      background-color: #242424 !important;
      padding: .75rem 1.5rem;
      color:white;
      
      span{
        color:white !important;
      }
    }
    &.current{padding: .75rem 1.5rem;}
    &.pagination-previous{margin-right: .75rem;}
    &.disabled{color:rgba(255,255,255,.3)}
  }

}