#new-ksat {
  display: flex;
  flex-flow: column;
  position: relative;
  resize: both; 
  min-height: 105px;
  min-width: 250px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: hidden;
  background: #fff;
  margin: -10px -24px -24px -24px !important;
  height: 100%;
  
  .error{
    color:red;
    font-size: 1rem;
    font-style: italic;
  }

  .single-form {
    mat-form-field {
      width: 100%;
      min-width: 150px;
    }
  }

  textarea {
    resize: none;
  }

  .double-form {
    grid-template-columns: auto auto;
    display: grid;
    grid-column-gap: 10px;
    mat-form-field {
      width: 100%;
      min-width: 75px;
    }
  }

  mat-form-field {
    margin-top: -.75em;
  }

  .content {
    margin: 0 7px 15px 7px;
    padding-bottom: 25px;
    height: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .title {
    flex: 0 1 auto;
    text-align: center;
  }

  .actions {
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: #fff;
  }

  .buttons{
    float: right;
  }

  .thanks {
    float: left;
    margin: -25px 0 0 5px;
  }
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  .spin-me{
    animation: spinner 1s linear infinite;
  }
}
