#description{
    color:#39A5DC; 
    padding: 0;
    padding-top: 0px;
    padding-left: 0rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 0;
    // margin-left: 10em;

    p {
        margin: 0;
      }
      td{
          padding-left: 3em;
      }

}
.blue{
    color:#39A5DC;

}

.red {
    color:crimson; 
}

#roadmap_component{
    font-family: 'Open Sans';
    .form-control{
        display: inline-block;
        border-radius: 0;
        width: auto;
    }

  

    .description p{
        padding: 0; 
        padding-top: 0px;
        margin-top: 0;
        margin-bottom: 0;
        margin: 0; 
    }
    .top-bar{
        padding: 3rem;
    }
    .title-text{
        display: inline;
        font-size:x-large;
    }

    .title-form{
        display: inline;
        float: right;
    }

    .resource-wrapper{
        margin: 0 auto;
        width: 90%;       
        height: 65vh;
        border: 3px solid #808080;
        border-radius: 10px;
        overflow-y: auto;
    }

    .prereqs-upgrades{
        padding: 2rem 5rem 0 2rem;
    }

    .prereqs{
        display:inline;
        float: left;
        h3{
            margin: 0 0 1.5rem 0;
            text-align: right;
            font-size: x-large;
        }
    }

    .upgrades{
        display: inline;
        float: right;
        h3{
            margin: 0 0 1.5rem 0;
            text-align: right;
            font-size: x-large;
        }
    }

    .roadmap-buttons{
        float:left;
    }

    .roadmap-button{
        margin:0 0 0 1.5rem;
        font-size: large;
        &:hover{
            color: #39A5DC;
        }
    }

    .link-button{
        float:right;
        font-size: larger;
        background: none;
        border: none;
        box-shadow: none;
        margin: .5rem 2rem 1rem 0;
        &:hover{
            color:#39A5DC;
        }
    }
    .resource-card{
        width: 20rem;
        margin: 2rem 0;
        height: 30vh;
        border-radius: 10px;
        overflow-y: auto;      

        h3{
            padding: .5rem 0 0 2rem;
            font-size:larger;
            margin-bottom: 1rem;
        } 

        hr{
            width:75%;
            background-color: #808080;
            margin: 0 0 0 2rem;
        }

        h4{
            font-size: x-small;
            margin: .2rem 0 0 2rem;
        }
    }

    .desc-box{
        width:75%;
        margin: .5rem 0 0 2rem;
        height: 40%;
        overflow-y: auto;
    }
    
}